<!-- Estructura: Barra Inferior General de Enlaces a SocialMedia -->
<div>
  <div class="socialmedia">
    <a>
      <a href="https://www.facebook.com" target="_blank">
      <img src="/svg/facebook.svg"></a>
    </a>
    <a class="iconresp">
      <a href="https://web.whatsapp.com/" target="_blank">
      <img src="/svg/whatsapp1.svg"></a>
    </a>
    <a class="iconresp">
      <a href="https://mx.linkedin.com" target="_blank">
      <img src="/svg/linkedin.svg"></a>
    </a>
    <a class="iconresp">
      <a href="https://www.youtube.com" target="_blank">
      <img src="/svg/youtube.svg"></a>
    </a>
    <a class="iconresp">
      <a href="https://github.com/utrujillo/barbarians" target="_blank">
      <img src="/svg/github.svg"></a>
    </a>
  </div>
</div>
