<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
        <div style="position:absolute;display:block;background:url('/images/slider/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
    </div>
    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
        <div data-p="225.00" style="background: #000000;">
           <div class="text-div">
                <p class="text-1">Esto es
                    <span class="text-2"><i>io Solutions</i></span>
                    <br>
                    <span class="text-1">y nosotros somos</span>
                    <span class="text-4">asombrosos</span>
                </p>
                <button type="button" class="btn btn-default btn-stylcss"><b>Contactanos</b></button>
                <button type="button" class="btn btn-default btn-stylcss1"><b>Acerca de <br>Nosotros</b></button>
            </div>
        </div>
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="/images/slider/inicio.png"/>
            <div>
             <img data-u="image" class="sldIndx1" src="/images/slider/SliderIndx.jpg">
             <img data-u="image" class="sldIndx2" src="/images/slider/webAnalytics.png">
             <img data-u="image" class="sldIndx3" src="/images/slider/webAnalytics1.png">
             <p class="sldIndx4">¡Vota por los mejores componentes en electronica!</p>
             <p class="sldIndx5">Para contribuir con las estadisticas, tienes que registrarte.</p>
             <p class="btn btn-info sldIndx"><%= link_to "Registrate", new_user_registration_path %></p>
            </div>
        </div>
        <div data-p="225.00" style="display: none;">
           <img data-u="image" src="/images/slider/curseIn.png"/>
            <div class="crsIn1">Would you like to be able to read this english phrase?
                <p  class="btn btn-warning crsIn2"><%= link_to "Cursos", pgstatics_courses_path %></p>
            </div>
        </div>
        <div data-p="225.00" data-po="80% 55%" style="display: none;">
            <img data-u="image" src="/images/slider/curseElc.png"/>
            <p class="crsElc1">Mi crimen es la curiosidad.</p>
            <p class="crsElc2">¿Cual es el tuyo?</p>
            <p class="crsElc3">¡Aprende Electronica!</p>
            <p class="btn btn-warning crsElc4"><%= link_to "Cursos", pgstatics_courses_path %></p>
        </div>
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
        <!-- bullet navigator item prototype -->
        <div data-u="prototype" style="width:16px;height:16px;"></div>
    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
    <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
</div>
