<%= render "slider" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 scp1">
      <img class="scp1-log" src="images/LogoBlack.png">
      <img class="scp1-lema" src="images/SolutionsBlack.png">
      <h1 class="scp1-text">Las mejores valoraciones sobre componentes electronicos</h1>
    </div>
  </div>
  <div class="row body_color">
    <div class="col-sm-4 scp2-color">
      <!-- Primer Producto -->
      <div>
        <div class="scp2-img">
          <img src="images/imgled.jpg" class="img-responsive scp2-imgcnt" >
        </div>
        <div class="scp2-text">
          <h3>LED - Basico Rojo 3mm</h3>
          <b>Code: </b>
          <p class="text-justify">
            <b>Descripción: </b>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aperiam enim facilis! Ullam vitae quia praesentium, cumque iusto distinctio et excepturi repellendus cupiditate dicta repudiandae.
          </p>
          <b>Especificaciones:<br></b>
          <ul>
            <li>2.0-2.4 VDC</li>
            <li>Max current: 20mA</li>
            <li>Luminous Intensity: 40-100mcd</li>
          </ul>
          <b>Documentos:<br></b>
          <ul>
            <li>
              <a class="a" href="https://www.arduino.cc/documents/datasheets/LEDRGB-L-154A4SURK.pdf" target="_blank">
              <b>Datasheet</b>
             </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

<div class="col-sm-4 scp3-color">
      <!-- Segundo Producto -->
      <div>
        <div class="scp2-img">
          <img src="images/imgled.jpg" class="img-responsive scp2-imgcnt" >
        </div>
        <div class="scp2-text">
          <h3>LED - Basico Rojo 3mm</h3>
          <b>Code: </b>
          <p class="text-justify">
            <b>Descripción: </b>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aperiam enim facilis! Ullam vitae quia praesentium, cumque iusto distinctio et excepturi repellendus cupiditate dicta repudiandae.
          </p>
          <b>Especificaciones:<br></b>
          <ul>
            <li>2.0-2.4 VDC</li>
            <li>Max current: 20mA</li>
            <li>Luminous Intensity: 40-100mcd</li>
          </ul>
          <b>Documentos:<br></b>
          <ul>
            <li>
              <a class="a" href="https://www.arduino.cc/documents/datasheets/LEDRGB-L-154A4SURK.pdf" target="_blank">
              <b>Datasheet</b>
             </a>
            </li>
          </ul>
        </div>
      </div>
       </div>




    <div class="col-sm-4 scp4">
      <div class="">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
      </div>
    </div>
  </div>
</div>
