/******************************************************************************
*                   Estructura de Estilos: index.html                         *
*  DivLine:5    Background Logo-lema Texto Index                              *
******************************************************************************/
.body_color{/*background-color: #C6FF5B;*/background:rgba(255, 23, 23, 0.8);}
@import url('https://fonts.googleapis.com/css?family=Sumana');
.scp1 {
    background-color: white;
    height: 300px;
}
    .scp1-log{
        width: 60px;
        height: 60px;
        margin-left: 43%;
        margin-top: 60px;
    }
    .scp1-lema{
        width: 110px;
        height: 70px;
        margin-top: 60px;
    }
    .scp1-text{
        color: black;
        text-align: center;
        font-family: 'Sumana', serif;
        text-shadow: #555 4px 4px 5px;
    }
/******************************************************************************
*  DivLine:12              Textos Div Logo-lema Index                         *
******************************************************************************/
.scp2-color{ background-color: #bbdef0; display: inherit;}
.scp2-img{
    padding-top: 10px;
}
    .scp2-imgcnt{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        height: 150px;
        width: 150px;
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        background-size: 100% auto;
    }
    .scp2-text {
        width: 74%;
        margin-left: 13%;
        margin-right: 13%;
        color: black;
        padding-bottom: 10px;
    }

/******************************************************************************
*                          Textos Div Logo-lema Index                         *
******************************************************************************/
.scp3-color{ background-color: #C6FF5B;}


.scp4{
}

/******************************************************************************
*                          Estilos Links Componentes                          *
******************************************************************************/
.a:link    {color:#2E49D9; background-color:transparent; text-decoration:none}
.a:visited {color:#B105E8; background-color:transparent; text-decoration:none}
.a:hover   {color:#FF4734; background-color:transparent; text-decoration:underline}
.a:active  {color:#000000; background-color:transparent; text-decoration:underline}
