body{
  background-color: #D6CCDE;
  padding-bottom: 1000px;
}
.nvstyle{
  margin-bottom: 0px;
}
  .imgstyle{
   margin-top: -12px;
  }
  .imglogo{
    width: 45px; height: 45px;
  }
  .imglema{
    width: 90px; height: 50px;
  }
