/******************************************************************************
*                   Estructura de Estilos Slider: slider.html                 *
*                               Textos Slider Index                           *
******************************************************************************/
.sldIndx1{
position: absolute; width: 1000px; height: 600px; margin-left: -170px;
}
.sldIndx2{
position: absolute; width: 300px; height: 98px; top: 310px; margin-left: 680px;
}
.sldIndx3{
position: absolute; width: 300px; height: 150px; top: 341px; margin-left: 955px;
}
.sldIndx4{
position: absolute; top: -5px; left: 185px; font-size: 43px;
line-height: 80px;
color:black;
text-shadow: #555 4px 4px 5px;
}
.sldIndx5{
position: absolute; top: 110px; left: 818px;
}
.sldIndx{
position: absolute; top: 170px; left: 865px; font-size: 35px;
}
/******************************************************************************
*                   Estructura de Estilos Slider: slider.html                 *
*                               Textos Slider Ingles                          *
******************************************************************************/
.crsIn1{
position: absolute; top: 150px; left: 700px; width: 550px; height: 120px;
font-size: 50px;
color: black;
line-height: 60px;
text-shadow: #555 3px 3px 4px;
}
.crsIn2{
position: absolute; top: 210px; left: -470px; font-size: 30px;
}
/******************************************************************************
*                   Estructura de Estilos Slider: slider.html                 *
*                               Textos Slider Electronica                     *
******************************************************************************/
.crsElc1{
position: absolute; top: 75px; left: 200px; font-size: 42px;
line-height: 60px;
color:white;
text-shadow: black 4px 4px 5px;
}
.crsElc2{
position: absolute; top: 150px; left: 580px; font-size: 42px;
line-height: 60px;
color:white;
text-shadow: black 4px 4px 5px;
}
.crsElc3{
position: absolute; top: 290px; left: 190px; font-size: 43px;
line-height: 80px;
color:orange;
text-shadow: black 4px 4px 5px;
}
.crsElc4{
position: absolute; top: 380px; left: 1050px; font-size: 30px;
}
/******************************************************************************
*                   Estructura de Estilos Slider: slider.html                 *
******************************************************************************/
.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    /* size of bullet elment */
    width: 16px;
    height: 16px;
    background: url('/images/slider/b05.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('/images/slider/a22.png') center center no-repeat;
    overflow: hidden;
}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }
