<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StyleBar</title>
    <link rel="stylesheet" href="/app/assets/stylesheet/styleBar.css"> <!--  Error en la instancia hojas de estilo-->
  </head>
<body>

<!--  Navbar -->
<div class="encabezado">

   <!--  Logos -->  <!--  Error en la instancia imagenes-->
  <img class="imglogo" id="logo" src="images/LogoWhit.png">
  <img class="imglema" id="logo" src="images/SolutionsWhit.png">

  <!--  Busqueda -->
  <form class="navbar-left" role="search">
    <input type="text" placeholder="Search">
    <button>Submit</button>
  </form>

  <!--  Botones -->
  <div class="navbar-top">

    <button class="stylebarIni">Inicio</button>
    <button class="stylebarPro">Productos</button>
    <button class="stylebarCont ">Contacto</button>

    <button >Action</button>  <!--  Boton Accion de despliege-->
  </div>
</div>

  <!--  Modificar Slider-->
  <div class="slider">
  </div>

</body>
</html>
